<!DOCTYPE html>
<html>
<head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:20px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:600px;
  margin:auto;

}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

</style>
<title>Title of the document</title>
</head>

<body>

<h1>Edit or Delete Your address</h1>

<div>
<form action="/address/<%= @address.id %>" method="post">
<input type="hidden" name="_method" value="patch" >
Name: <input type="text" value="<%= @address.name %>" name="name"><br>
Street Name: <input type="text" value="<%= @address.street_name  %>" name="street_name"><br>
City: <input type="text" value="<%= @address.city %>" name="city"><br>
State: <input type="text" value="<%= @address.state %>" name="state"><br>
Zip Code: <input type="text" value="<%= @address.zip_code  %>" name="zip_code"><br>
Contact: <input type="text" value="<%= @address.contact  %>" name="contact" pattern="[0-9]+"><br>
<p>Family: <select name="family" value="<%= @address.family %>"></p>
<option name="family" value="true">True</option>
<option name="family" value="false">False</option>
</select>
</select>
</div>

<br><br>
<button class="button button1">Save</button>

</form>
<p>
<form method="post" action="/address/<%= @address.id %>" >
<input type="hidden" name="_method" value="delete">

<button class="button button2">Delete</button>
</p>
</form>

</body>

</html>